@media only screen and (max-width: 600px) {
    body{background: #DBADAE; 
        text-align: center;
        font-family: 'Barlow Semi Condensed', sans-serif;
    }
    h1{
        font-size: 45px; /*psuedoclass*/
        color:#F0C351;
        text-transform: uppercase;
        letter-spacing: 3px;
        word-spacing: 5px;
        text-shadow:2px 2px black;
        font-weight: bold;
    }
    a {
        text-decoration: none;
        font-style: italic;
        
    }
    a:hover{color: teal};
    .more{
        background-color:white;
        font-size: 20px;
        height: auto;
        position: absolute;
        width: 20%;
        
    }
  
  
  
  
  
}
